body {
  background-color: rgb(13, 12, 25);
  color: white;
  background-image: url("imgs/space.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  width: 100%;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  /* background-color: yellow; */
  /* text-align: center; */
}

.heading {
  color: white;
  font-size: 80px;
  font-family: "Pixelify Sans", cursive;
}

a{
    text-decoration: none;
}

button{
    font-size: 20px;
    border-radius: 8px;
    padding: 10px 20px;
    font-weight: 700;
    background-color: white;
}

button:hover{
    background-color: rgb(154, 151, 151);
    cursor: pointer;
}

.grid {
  width: 600px;
  height: 600px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(7, 2, 66);
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 0 80px black;
}

.grid div {
  width: 40px;
  height: 40px;
  color: white;
  /* border: 1px solid red;
    box-sizing: border-box; */
}

.invader {
  /* background-color: blue; */
  background-image: url("imgs/invader.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  /* background-color: white ; */
}

.shooter {
  /* background-color: white; */
  background-image: url("imgs/spaceship.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.laser {
  background-image: url("imgs/rocket.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
}

.boom {
  background-image: url("imgs/explosion.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
}

.info {
  display: flex;
  justify-content: space-between;
  transform: translateZ(0);
}


.stats h1{
    margin-right: 20px;
}



.options{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; /* Higher z-index to ensure it overlaps other elements */
    display: none;
    width: 400px;
    min-height: 100px;
    background-color: rgb(85, 50, 112);
    border: 1px solid white;
    border-radius: 10px;
}

.options button{
    margin-bottom: 20px;
    margin-top: 20px;
    width: 150px;
}