.container {
    /* width: 1024px; */
    margin: 0 auto;
    align-items: center;
    /* background-color: yellow; */
    /* text-align: center; */
}



.grid {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    /* background-color: red; */
}

.grid div {
    width: 20px;
    height: 20px;
    /* border: 1px solid red;
    box-sizing: border-box; */
}

.invader{
    /* background-color: blue; */
    background-image: url("imgs/invader.png");
    border-radius: 10px;
}

.shooter {
    background-color: green;
}

.laser {
    background-color: orange;
}

.boom{
    background-color: red;
}